@theme {
  --color-primary-100: #c5cad9;
  --color-primary-200: #a6abbd;
  --color-primary-300: #9397a6;
  --color-primary-400: #636775;
  --color-primary-500: #4f5361;
  --color-primary-600: #3a3f4d;
  --color-primary-700: #232833;
  --color-primary-800: #1b1f2a;
  --color-primary-900: #10141f;

  --color-blue-500: #4490f9;

  /* === LIGHT TOKENS ===
  --color-primary-100: #e6eeff;
  --color-primary-200: #b3ccff;
  --color-primary-300: #80aaff;
  --color-primary-400: #4d88ff;
  --color-primary-500: #0052ff;
  --color-primary-600: #0047e6;
  --color-primary-700: #003bcc;
  --color-primary-800: #002fb3;
  --color-primary-900: #002399;

  --color-blue-600: #3636f0;
  --color-blue-500: #3b82f6;
  --color-blue-400: #6060f0;
  --color-blue-300: #8686ec;
  --color-blue-200: #acaef2;
  --color-blue-100: #c8caf6;
  --color-blue-50: #e4e5fb;
  === TOKENS END === */

  --color-gray-25: #f8f8f8;
  --color-gray-50: #edeef2;
  --color-gray-100: #e0e0e5;
  --color-gray-200: #c6c8cf;
  --color-gray-300: #b3b4bc;
  --color-gray-400: #9fa0a7;
  --color-gray-500: #84858c;
  --color-gray-600: #707177;
  --color-gray-700: #5d5d61;
  --color-gray-800: #49494c;
  --color-gray-900: #323236;
  --color-gray-950: #1f1f22;

  --color-black: #000000;
  --color-white: #ffffff;
}
